/*tab 组件初始样式*/
.tabs{

   .tabs-nav{
      overflow: hidden;
      li{
         list-style: none;
         float: left;
         margin: 0 10px 10px 0;
         a{
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
         }
         &.active{
            a{
               background: #000;
               color: #fff;
            }
         }
      }
   }

   .tabs-body{
      background: #00ff00;
   }


}



//demo 样式
.demos{
   padding: 20px;
}

.demo-1{
   border-bottom: 1px solid #ccc;
   padding: 20px 0;
}


