// Text overflow
// Requires inline-block or block for proper styling

@mixin text-overflow($display: block) {
	display: $display;
	word-wrap: normal; /* for IE */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
