$color-cyan: #00bcf2;
$color-cyan2: #60C9F8;
$color-gray: #8E8E93;
$color-green: #5EB95E;
$color-green2: #53D76A;
$color-indigo: #008ED4;
$color-orange: #F37B1D;
$color-orange2: #FD9426;
$color-pink: #FC3159;
$color-purple: #8058A5;
$color-red: #DD514C;
$color-red2: #FC3D39;
$color-yellow: #ffb900;



















