// Name:                       Forms
//
// Description:                Define style for form elements
//
// Component:                 `.am-form`
//
// Modifiers:                  ``
//
// =============================================================================

/* ==========================================================================
   Component: Form
 ============================================================================ */

/* Normalize */

// Restyle and baseline non-control form elements.

fieldset {
	border: none;
}

legend {
	display: block;
	width: 100%;
	margin-bottom: $line-height-computed;
	font-size: ($form-font-size * 1.25);
	line-height: inherit;
	color: $legend-color;
	border-bottom: 1px solid $legend-border-color;
	padding-bottom: 0.5rem;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

// Normalize form controls

// Override content-box in Normalize
input[type="search"] {
	box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9; /* IE8-9 */
	line-height: normal;
}

// Set the height of select and file controls to match text inputs
input[type="file"] {
	display: block;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
	height: auto;
}

// Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
select optgroup {
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
}

// Focus for select, file, radio, and checkbox

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus();
}

// Fix for Chrome number input
// Setting certain font-sizes causes the `I` bar to appear on hover of the bottom increment button.
// See https://github.com/twbs/bootstrap/issues/8350 for more.

input[type="number"] {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		height: auto;
	}
}

// Adjust output element
output {
	display: block;
	padding-top: $global-spacing;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $input-color;
	vertical-align: middle;
}

/* Common form controls */

.ui-form select,
.ui-form textarea,
.ui-form input[type="text"],
.ui-form input[type="password"],
.ui-form input[type="datetime"],
.ui-form input[type="datetime-local"],
.ui-form input[type="date"],
.ui-form input[type="month"],
.ui-form input[type="time"],
.ui-form input[type="week"],
.ui-form input[type="number"],
.ui-form input[type="email"],
.ui-form input[type="url"],
.ui-form input[type="search"],
.ui-form input[type="tel"],
.ui-form input[type="color"],
.ui-form-field {
	display: block;
	width: 100%;
	padding: $input-padding;
	font-size: $form-font-size;
	line-height: $form-line-height;
	color: $input-color;
	vertical-align: middle;
	background-color: $input-bg;
	background-image: none;
	border: 1px solid $input-border;
	border-radius: $input-border-radius;
	-webkit-appearance: none;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

	// `:focus` state
	&:focus {
		outline: 0;
	}
	@include form-field-focus($input-border-focus);

	&::placeholder {
		color: $input-color-placeholder;
	}

	&::-moz-placeholder {
		opacity: 1;
	}

	// Disabled and read-only inputs
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		cursor: not-allowed;
		background-color: $input-bg-disabled;

	}

	&.ui-radius {
		border-radius: $radius-normal;
	}

	&.ui-round {
		border-radius: $global-rounded;
	}
}

.ui-form {
	// Reset height for block field
	textarea,
	select[multiple],
	select[size] {
		height: auto;
	}

	select {
		// via Foundation
		-webkit-appearance: none !important;
		-webkit-border-radius: $global-radius;
		background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+') no-repeat 100% center;

		&[multiple="multiple"] {
			background-image: none;
		}
	}
}

/* help text */

.ui-form-help {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: $gray-light;
	font-size: 1.3rem;
}

/* form group */

.ui-form-group {
	margin-bottom: 1.5rem;
}

/* file field */

.ui-form-file {
	position: relative;
	overflow: hidden;

	input[type="file"] {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		opacity: 0;
		cursor: pointer;
		font-size: 50rem;
	}
}

/**
 * Checkboxes and radios
 * Indent the labels to position radios/checkboxes as hanging controls.
*/

.ui-radio,
.ui-checkbox {
	display: block;
	min-height: $form-font-size * $form-line-height;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	vertical-align: middle;
	label {
		display: inline;
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}
}

.ui-radio input[type="radio"],
.ui-radio-inline input[type="radio"],
.ui-checkbox input[type="checkbox"],
.ui-checkbox-inline input[type="checkbox"] {
	float: left;
	margin-left: -20px;
	outline: none;
}

.ui-radio + .ui-radio,
.ui-checkbox + .ui-checkbox {
	margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

/* Radios and checkboxes inline */

.ui-radio-inline,
.ui-checkbox-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
}

.ui-radio-inline + .ui-radio-inline,
.ui-checkbox-inline + .ui-checkbox-inline {
	margin-top: 0;
	margin-left: 10px; // space out consecutive inline controls
}

// Apply same disabled cursor tweak as for inputs
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"],
.ui-radio,
.ui-radio-inline,
.ui-checkbox,
.ui-checkbox-inline {
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}

/* Form field feedback states */

// Warning
.ui-form-warning {
	@include form-field-validation($state-warning-text;
	$state-warning-text);
	.ui-form-field {
		@include form-field-validation-filed ($state-warning-text;
		$state-warning-text);
	}
}

// Error
.ui-form-error {
	@include form-field-validation($state-danger-text;
	$state-danger-text);
}

.ui-form-error .ui-form-field,
.ui-field-error {
	@include form-field-validation-filed($state-danger-text;
	$state-danger-text);
}

// Success
.ui-form-success {
	@include form-field-validation($state-success-text;
	$state-success-text);
}

.ui-form-success .ui-form-field,
.ui-field-valid {
	@include form-field-validation-filed($state-success-text;
	$state-success-text);
}

/* Horizontal forms */

.ui-form-horizontal {
	.ui-form-label,
	.ui-radio,
	.ui-checkbox,
	.ui-radio-inline,
	.ui-checkbox-inline {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0.6em;
	}

	.ui-form-group {
		@include clearfix ();
	}

	$media $medium-up {
	.ui-form-label {
		text-align: right;
	}
}

}

/* Inline form elements */

.ui-form-inline {
	$media $medium-up {
	.ui-form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.ui-form-field {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.ui-input-group {
		display: inline-table;
		vertical-align: middle;

		.ui-input-group-label,
		.ui-input-group-btn,
		.ui-form-label {
			width: auto;
		}
	}

	// Input groups need that 100% width though
	.ui-input-group > .ui-form-field {
		width: 100%;
	}

	.ui-form-label {
		margin-bottom: 0;
		vertical-align: middle;
	}

	// Remove default margin on radios/checkboxes that were used for stacking, and
	// then undo the floating of radios and checkboxes to match (which also avoids
	.ui-radio,
	.ui-checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		vertical-align: middle;
	}

	.ui-radio input[type="radio"],
	.ui-checkbox input[type="checkbox"] {
		float: none;
		margin-left: 0;
	}
}

}

/* Form field size */

.ui-input-sm {
	font-size: $form-font-size-sm !important;
}

.ui-input-lg {
	font-size: $form-font-size-lg !important;
}

.ui-form-group-sm {
	.ui-checkbox,
	.ui-radio,
	.ui-form-label,
	.ui-form-field {
		font-size: $form-font-size-sm !important;
	}
}

.ui-form-group-lg {
	.ui-checkbox,
	.ui-radio,
	.ui-form-label,
	.ui-form-field {
		font-size: $form-font-size-lg !important;
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin-top: 7px;
	}
}

/* Form field feedback states */

.ui-form-icon {
	position: relative;

	.ui-form-field {
		padding-left: $input-padding + 1.25 !important;
	}

	// form-group without label
	[class*='ui-icon-'] {
		position: absolute;
		left: $input-padding;
		top: 50%;
		display: block;
		margin-top: -$input-padding;
		line-height: 1;
		z-index: 2;
	}

	// form-group with label
	label ~ [class*='ui-icon-'] {
		top: 70%;
	}

}

/* Feedback Icon */

.ui-form-feedback {
	position: relative;

	.ui-form-field {
		padding-left: $input-padding !important;
		padding-right: $input-padding + 1.25 !important;
	}

	[class*='ui-icon-'] {
		right: $input-padding;
		left: auto;

		// with label & horizontal mode
		.ui-form-horizontal & {
			right: $input-padding + 1.1;
		}
	}

}

/* Form set */

.ui-form-set {
	margin-bottom: 1.5rem;
	padding: 0;
	> input {
		position: relative;
		top: -1px;
		border-radius: 0 !important;
		&:focus {
			z-index: 2;
		}

		&:first-child {
			top: 1px;
			@include border-top-radius ($input-border-radius !important);
		}

		&:last-child {
			top: -2px;
			@include border-bottom-radius ($input-border-radius !important );
		}
	}
}

