// core
.accordion-item {
	margin: 0;
}

.accordion-title {
	font-weight: normal;
	cursor: pointer;

	.accordion-item.disabled & {
		cursor: default;
		pointer-events: none;
	}
}

// 规避 Collapase 处理不当的问�?
.accordion-bd {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

.accordion-content {
	margin-top: 0;
	padding: 0.8rem 1rem 1.2rem;
	font-size: 1.4rem;
}
